{% extends "base.html" %}

{% block content %}
<br><br><br><br>

<h1 class="text-capitalize text-center mx-10 bg-dark text-white"> Register a new invoice </h1>

<form method="post">

    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="customer"> Customer </label>
            <select name="customer" class="form-control" id="customer">
                <option> Choose the customer ... </option>
                {% for customer in customers %}
                <option value="{{customer.id}}">{{forloop.counter}}-{{customer.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="invoice"> Invoice Type </label>
            <select name="invoice_type" class="form-control" id="invoice">
                <option> Choose the invoice type ... </option>
                <option value="R">RECEIPT</option>
                <option value="P">PROFORMA INVOICE</option>
                <option value="I">INVOICE</option>
            </select>
        </div>
    </div>

    <div id="wrapper">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="article-1">#1 Item name </label>
                <input required name="article" type="text" class="form-control" id="article-1">
            </div>

            <div class="form-group col-md-2">
                <label for="qty-1"> Quantity </label>
                <input required name="qty" type="number" min="1" step="0.1" class="form-control" id="qty-1">
            </div>

            <div class="form-group col-md-3">
                <label for="unit-1"> Unit Price </label>
                <input required name="unit" type="number" min="1" step="0.1" onchange="handleChangeSingleArticle(this.id)" class="form-control" id="unit-1">
            </div>

            <div class="form-group col-md-3">
                <label for="total-a-1"> Total </label>
                <input required name="total-a" type="number" min="1" step="0.1" readonly class="form-control"
                    id="total-a-1">
            </div>

        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="total"> Total </label>
            <input value="0" type="number" step="0.1" name="total" readonly class="form-control" id="total">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="comment"> Comments </label>
            <textarea class="form-control" name="comment" id="comment" cols="30" rows="1"></textarea>
        </div>
    </div>

    <button type="submit" class="btn btn-primary"> Save </button>

</form>

<br><br>

<div class="row">

    <button id="btn-add" class="btn btn-outline-danger w-50 col-md-6"> Add a new item line </button>
    <button id="btn-remove" class="btn btn-outline-warning w-50 col-md-6"> Remove last item line </button>

</div>

<br><br><br><br>



<script type="text/javascript">

    // click to add new line item 
    
    $(document).on('click', '#btn-add', function(){
        
        var number = $('#wrapper').children().length + 1;
    
        let formAdd = `
    
                        <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="article-${number}">#${number} Item name </label>
                                    <input required name="article" type="text" class="form-control" id="article-${number}">
                                </div>
    
                                <div class="form-group col-md-2">
                                    <label for="qty-${number}"> Quantity </label>
                                    <input required name="qty" type="number" min="1" step="0.1"  class="form-control" id="qty-${number}">
                                </div>
    
                                <div class="form-group col-md-3">
                                    <label for="unit-${number}"> Unit Price </label>
                                    <input required name="unit" type="number" min="1" step="0.1" onchange="handleChangeSingleArticle(this.id)" class="form-control" id="unit-${number}">
                                </div>
    
                                <div class="form-group col-md-3">
                                    <label for="total-a-${number}"> Total </label>
                                    <input required name="total-a" type="number" min="1" step="0.1" readonly class="form-control"
                                        id="total-a-${number}">
                                </div>
    
                            </div>
                    `;   
                    
        
        $("#wrapper:last").append(formAdd);          
    })
    
    
    // Remove last item line 
    
    $(document).on('click', '#btn-remove', function(){
        $("#wrapper").children().last().remove();
    })

    // compute defferent totals 12

    function handleChangeSingleArticle(id){

        console.log(id.toString().split('-'))
        let articleId = id.split('-')[1];

        let idQty = `#qty-${articleId}`;

        let unitId = `#unit-${articleId}`;

        let totalIdLine = `#total-a-${articleId}`;

        let totalLine = parseFloat($(idQty).val()) * parseFloat($(unitId).val());

        $(totalIdLine).val(totalLine);

        $('#total').val(parseFloat($('#total').val()) + totalLine);
        
    }

// TODO This code is not completed you need to add a busness logic for changing in quantity and removving the last item line.    
    
    </script>
{% endblock content %}

