<!DOCTYPE html>
{% load static %}
{% load i18n %} 
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'style.css' %}">

  <!-- jquery -->

  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
  <title>Facture</title>
</head>

<body>
  {% get_available_languages as LANGUAGES %}

  {% get_language_info_list for LANGUAGES as languages %}

  <!-- header  -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">INVOICE SYSTEM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <div class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Languages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for language in languages %}
              <a class="dropdown-item" href="/{{language.code}}">{{ language.name_local }}</a>
              {% endfor %}
            </div>
          </div>

        </ul>

      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              More option
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'add-customer' %}">Add customer</a>
              <a class="dropdown-item" href="#">add admin</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">statistic</a>
            </div>
          </li>

        </ul>

      </div>
    </nav>
  </header>

  <div class="container">
    <div class="wrapper">
      <br>
      {% for message in messages %}
      <div class="alert {{message.tags}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message|safe }}
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- end header  -->
  <div class="container">

    {% block content %}

    {% endblock content %}

  </div>


  <!-- footer -->

  <footer class="bg-light text-center text-dark">

    <!-- copyright -->

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      invoice system © 2023 copyright:
      <a href="https://donaldprogrammeur.com"> Donald Programmer</a>
    </div>

    <!-- endcopyright -->

  </footer>

  <!-- end footer -->




  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

</body>

</html>